@import @styles/constants

.amenities
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: $default-container-width
    max-width: 1200px
    row-gap: 40px

    .gallery
        display: grid
        width: 100%
        grid-template-columns: 1fr 1fr
        grid-auto-rows: auto
        gap: 32px

        .item
            position: relative
            height: 250px

            .thumb
                position: relative
                height: 100%
                width: 100%
