@import @styles/constants
@import @styles/mixins

.amenities
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    @include mobile-only
        row-gap: 24px

    @include tablet-only
        row-gap: 16px

    @include laptop-only
        row-gap: 16px

    @include monitor-only
        row-gap: 40px

    .gallery
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-auto-rows: auto
        width: 1200px
        max-width: $default-container-width

        @include mobile-only
            grid-template-columns: 1fr 1fr
            gap: 8px

        @include tablet-only
            gap: 16px

        @include laptop-only
            gap: 16px

        @include monitor-only
            gap: 32px
