@import @styles/constants

.amenities
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    row-gap: 40px

    .gallery
        display: grid
        width: 100%
        grid-template-columns: 1fr 1fr
        grid-auto-rows: auto
        gap: 32px
        width: $default-container-width
        max-width: 1200px
