@import @styles/constants

.contact
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: $default-container-width
    max-width: $default-container-width
    row-gap: 64px
