@import @styles/constants

.button
    display: inline-block
    text-decoration: none
    font-family: $font-aviano-flare
    font-weight: 300
    font-size: 1.4rem
    line-height: 1
    padding: 24px 40px

    &--primary
        background-color: $color-primary
        color: $color-white

    &--secondary
        background-color: $color-secondary
        color: $color-white
