@import @styles/mixins
    
.menu
    display: flex
    column-gap: 56px
    align-items: center

    @include mobile-only
        display: none

    .link,
    .social
        display: inline-flex
        align-items: center

    .link
        column-gap: 32px

    .social
        column-gap: 24px
