@import @styles/constants
@import @styles/mixins

.header
    width: 100%
    background-color: $color-white

    @include mobile-only
        padding: 8px 0

    @include laptop-only
        padding: 14px 0

    @include monitor-only
        padding: 28px 0

    .container
        display: flex
        justify-content: space-between
        width: $default-container-width
        max-width: $default-container-width
        margin: 0 auto

        @include mobile-only
            justify-content: center
