@import @styles/fonts
@import @styles/reset
@import @styles/swiper
@import @styles/constants
@import @styles/mixins

:root
    @include mobile-only
        font-size: 16px

body
    background-color: $color-background

.centered-slide
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto

.slide-in-bottom
    transform: translateY(100vh)
    transition: 1s transform ease-in-out

    &[data-state-active="true"]
        transform: translateY(0)
