@import @styles/fonts
@import @styles/reset
@import @styles/swiper

body
    background-color: #fbfcfd

.centered-slide
    position: absolute
    top: -32px
    left: 0
    right: 0
    bottom: 0
    margin: auto
