.location
    height: 100%
    display: flex
    flex-direction: column
    row-gap: 64px
    align-items: center

    .mapContainer
        position: relative
        flex: 1 1 0
        width: 100%

        .map
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
