@import @styles/constants

.heading
    font-family: $font-aviano-flare
    text-transform: lowercase

    &--h2
        font-size: 3rem

    .line
        display: block

        &--primary
            color: $color-primary

        &--secondary
            color: $color-secondary

        &--light
            font-weight: 300

        &--regular
            font-weight: normal

        &--medium
            font-weight: 500
