@import @styles/constants

.thumbList
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-auto-rows: 260px
    gap: 24px
    width: 100%
    max-width: 1000px
    margin: auto

    .item
        position: relative
        width: 100%
        height: 100%
