@import @styles/constants

.textbox
    display: flex
    flex-direction: column
    row-gap: 32px
    padding: 0 48px

    > p
        font-size: 1rem
        font-family: $font-aviano-flare
        font-weight: 300
        line-height: 1.8
        color: $color-primary
